USE [master]
GO
/****** Object:  Database [KitapDB]    Script Date: 15.12.2019 12:24:13 ******/
CREATE DATABASE [KitapDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KitapDB', FILENAME = N'D:\CihanHoca109\DB\KitapDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KitapDB_log', FILENAME = N'D:\CihanHoca109\DB\KitapDB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KitapDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KitapDB]
GO
/****** Object:  Table [dbo].[tblKitaplar]    Script Date: 15.12.2019 12:24:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblKitaplar](
	[KitapId] [int] IDENTITY(1,1) NOT NULL,
	[KitapAd] [varchar](50) NOT NULL,
	[TurId] [smallint] NOT NULL,
	[SayfaSayi] [smallint] NOT NULL,
	[BasimYil] [smallint] NULL,
	[Adet] [smallint] NOT NULL,
	[YayinEviId] [smallint] NOT NULL,
	[ISBN] [varchar](13) NOT NULL,
 CONSTRAINT [PK_tblKitaplar] PRIMARY KEY CLUSTERED 
(
	[KitapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblKitapYazar]    Script Date: 15.12.2019 12:24:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKitapYazar](
	[YazarId] [smallint] NOT NULL,
	[KitapId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTurler]    Script Date: 15.12.2019 12:24:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTurler](
	[TurId] [smallint] IDENTITY(1,1) NOT NULL,
	[TurAd] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblTurler] PRIMARY KEY CLUSTERED 
(
	[TurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblYayinEvleri]    Script Date: 15.12.2019 12:24:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblYayinEvleri](
	[YayinEviId] [smallint] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Adres] [varchar](500) NOT NULL,
	[Tel] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblYayinEvleri] PRIMARY KEY CLUSTERED 
(
	[YayinEviId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblYazarlar]    Script Date: 15.12.2019 12:24:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblYazarlar](
	[YazarId] [smallint] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](75) NOT NULL,
	[Dtar] [date] NOT NULL,
	[OlumTarih] [date] NULL,
 CONSTRAINT [PK_tblYazarlar] PRIMARY KEY CLUSTERED 
(
	[YazarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblTurler] ON 

INSERT [dbo].[tblTurler] ([TurId], [TurAd]) VALUES (12, N'bbbb')
INSERT [dbo].[tblTurler] ([TurId], [TurAd]) VALUES (10, N'deneme')
INSERT [dbo].[tblTurler] ([TurId], [TurAd]) VALUES (18, N'mbnmnb')
SET IDENTITY_INSERT [dbo].[tblTurler] OFF
SET IDENTITY_INSERT [dbo].[tblYayinEvleri] ON 

INSERT [dbo].[tblYayinEvleri] ([YayinEviId], [Ad], [Adres], [Tel]) VALUES (1, N'Serdar Yayınevi', N'Kızılay', N'456456')
INSERT [dbo].[tblYayinEvleri] ([YayinEviId], [Ad], [Adres], [Tel]) VALUES (3, N'Şahin Yayınevi', N'Kızılay', N'456456')
INSERT [dbo].[tblYayinEvleri] ([YayinEviId], [Ad], [Adres], [Tel]) VALUES (4, N'Alper Yayınevi', N'Çukurambar', N'456456')
SET IDENTITY_INSERT [dbo].[tblYayinEvleri] OFF
SET IDENTITY_INSERT [dbo].[tblYazarlar] ON 

INSERT [dbo].[tblYazarlar] ([YazarId], [Ad], [Soyad], [Dtar], [OlumTarih]) VALUES (2, N'Ahmet', N'fdsfs', CAST(N'2010-12-07' AS Date), NULL)
INSERT [dbo].[tblYazarlar] ([YazarId], [Ad], [Soyad], [Dtar], [OlumTarih]) VALUES (3, N'Mehmet', N'fdsfs', CAST(N'2010-12-07' AS Date), CAST(N'2019-12-07' AS Date))
SET IDENTITY_INSERT [dbo].[tblYazarlar] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_tblKitaplar_Isbn]    Script Date: 15.12.2019 12:24:13 ******/
ALTER TABLE [dbo].[tblKitaplar] ADD  CONSTRAINT [UK_tblKitaplar_Isbn] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_tblTurler_TurAd]    Script Date: 15.12.2019 12:24:13 ******/
ALTER TABLE [dbo].[tblTurler] ADD  CONSTRAINT [UK_tblTurler_TurAd] UNIQUE NONCLUSTERED 
(
	[TurAd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblKitaplar]  WITH CHECK ADD  CONSTRAINT [FK_tblKitaplar_tblTurler] FOREIGN KEY([TurId])
REFERENCES [dbo].[tblTurler] ([TurId])
GO
ALTER TABLE [dbo].[tblKitaplar] CHECK CONSTRAINT [FK_tblKitaplar_tblTurler]
GO
ALTER TABLE [dbo].[tblKitaplar]  WITH CHECK ADD  CONSTRAINT [FK_tblKitaplar_tblYayinEvleri] FOREIGN KEY([YayinEviId])
REFERENCES [dbo].[tblYayinEvleri] ([YayinEviId])
GO
ALTER TABLE [dbo].[tblKitaplar] CHECK CONSTRAINT [FK_tblKitaplar_tblYayinEvleri]
GO
ALTER TABLE [dbo].[tblKitapYazar]  WITH CHECK ADD  CONSTRAINT [FK_tblKitapYazar_tblKitaplar] FOREIGN KEY([KitapId])
REFERENCES [dbo].[tblKitaplar] ([KitapId])
GO
ALTER TABLE [dbo].[tblKitapYazar] CHECK CONSTRAINT [FK_tblKitapYazar_tblKitaplar]
GO
ALTER TABLE [dbo].[tblKitapYazar]  WITH CHECK ADD  CONSTRAINT [FK_tblKitapYazar_tblYazarlar] FOREIGN KEY([YazarId])
REFERENCES [dbo].[tblYazarlar] ([YazarId])
GO
ALTER TABLE [dbo].[tblKitapYazar] CHECK CONSTRAINT [FK_tblKitapYazar_tblYazarlar]
GO
USE [master]
GO
